<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React js</title>
    <script src="libs/react.js"></script>
    <script src="libs/react-dom.js"></script>
    <!--<script src="libs/babel.min.js"></script>-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <style>
        .mauvang{ background-color: yellow}
    </style>
</head>
<body>
    <div id="root"></div>
    <hr>
    <div id="root2"></div>
    <hr>
    <div id="react1"></div>
    <!--Chèn fle viết react vào -->
   <!-- <script type="text/babel" src="react.js"></script>-->
    <script type="text/babel" src="react1.js"></script>
</body>
</html>