<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React js</title>
    <script src="libs/react.js"></script>
    <script src="libs/react-dom.js"></script>
    <script src="libs/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel">
       
        ReactDOM.render(<h1>Hello, world!1244</h1>,  document.getElementById('root'));
    </script>
</body>
</html>